h1{
    font-family:'Arial Narrow';
    font-size: 3em;
    line-height:2;
    margin:auto;
    text-align:center;
    letter-spacing:3px;
    word-spacing:15px;
    -webkit-text-stroke: 2px orange;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

body{
    width: 80%;
    background-color:rgb(61, 5, 68);
    margin: auto;
}
svg{
    margin: auto;
}


div ,p, footer{
    width: 100%;
    margin:auto;
    text-align: center;
    color:orange;
}

a{
    color: white;
}

.label{
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: 1.5em;
stroke:white;
fill:white;
pointer-events: none;
}